@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
 
#container{
	display:grid;
	min-height: 100vh;
	grid-template-columns: auto, 1fr, auto;
}
#header{
	text-align: center;
	background-color: rgb(0, 128, 192);
	color: white;
	padding:15px 0px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login{
	height: 300px;
	width:350px;
	background-color: #c0c0c0;
	border-radius: 15px;
	margin-top: 80px;
	margin-bottom: 10px;
	font-size:40px;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
.box{
	background-color:#8080ff;
	width: 150px;
	height: 50px;
}
#content{
	display: flex;
	justify-content: space-evenly;
	
}


#footer{
	
	background-color: rgb(0, 128, 192);
	color: white;
	font-size: 5px;
}
