*{
    padding:0;
    margin:0;
}

#container{
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#header{
    text-align: center;
    background-color: rgb(0, 128, 192);
    color: white;
    padding:15px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d2f2f1;
    background-repeat: no-repeat;
 
}

.card{
    height: 120px;
    width:200px;
    background-color: #c0c0c0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px;
}

.card-title{
    background-color:#8080ff;
    font-size: 28px;
    padding: 6px 20px;
    border-radius: 15px;
    
}

.card-action{
    font-size: 16px;
    padding: 8px 20px;
    cursor:pointer;
    font-weight: bold;
}

#footer{
    background-color: rgb(0, 128, 192);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}



/* login.jsp */

#info{
	height: 200px;
	width: 300px;
	background-color: #c0c0c0;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 18px;
}